@font-face{ 
    font-family: Cinzel, serif;
	  src: url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap'); 
} 

/* ====== The Landingpage Part ====== */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
  font-family: "Lato", sans-serif;
  background-color: rgb(241, 222, 222)
}
h2{
  font-size: 30px;
}
.landing-body {
  height: 100vh;
  width: 100vw;
}
.bg_img {
  position: absolute;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  z-index: -1;
}
.center_search {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company_name_text {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border-color: rgb(161, 168, 58);
  font-family: "Cinzel Decorative", cursive;
  font-style: italic;
  font-weight: bold;
  vertical-align: 10px;
  background-image: linear-gradient(45deg, #f3ec78,#af4261, #f3ec78, #af4261);
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: fade_left_to_right 5s infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fade_left_to_right {
  0% { background-position: left; }
  100% { background-position: right; }
}

#page_title {
  font-size: 60px;
  color: rgb(0, 0, 0);
}

#nav_text {
  width: 400px;
  height: 100px;
  font-size: 30px;
}

.search_bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_search {
  background-color: rgb(93, 87, 107);
  text-align: center;
  border-color: rgb(213, 185, 66);
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: gold;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(241, 222, 222);
  background-clip: border-box;
  border: solid border transparent;
  border-radius: 1em;
}

.radio_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(93, 87, 107);
  font-size: 20px;
  color: rgb(241, 222, 222);
  border-radius: 1em;
  padding: 10px;
}

.radio_button{
  margin-left: 10px;
  margin-right: 10px;
}

#input_search_landing {
  width: 90%;
  height:60px;
  margin-bottom: 10px;
}

#input_search_nav {
  width: 75%;
  height: 40px;
  vertical-align: 10px;
}

.search_button {
  border-radius: 15px;
  font-size: 20px;
  color: rgba(241, 222, 222);
  background-color: rgb(93, 87, 107);
  border-color: rgb(213, 185, 66);
  font-family: "Lato", sans-serif;
  vertical-align: 10px;
}

.landing_link{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search_button_landing {
  margin-top: 20px;
  width: 50%;
  height: 2em;
}

#search_button_nav {
  margin-left: 40px;
  width: 15%;
  height: 40px;
  border-width: 2px;
}

::placeholder {
  font-size: 20px;
  vertical-align: 12.5px;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: rgb(241, 222, 222)
}
.titel_search_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ====== The Listing Part ====== */
.top-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container {
  display: flex;
  /*flex-direction: column;*/
  width: 90%;
  height: 90%;
  border-radius: 7.5vh 7.5vh 7.5vh 7.5vh;
  background-color: rgba(49, 135, 196, 0.9);
}
.nav-column-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
}
.nav-column-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-column-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
}
.nav-logo-img {
  width: 50px;
  height: 50px;
}

.nav-acc-img {
  width: 50px;
  height: 50px;
}
.search_bar_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ====== The Finder Part ====== */
.finder_container{
  margin-top: 5vh;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
}
.finder_item{
  display: flex;
  width: 90%;
  height: 40vh;
  background-color: rgba(93, 87, 107, 0.6);
  border-radius: 7.5vh 7.5vh 7.5vh 7.5vh;
}
.img_teaser{
  width: 40%;
  height: 100%;
  background-image: url('https://cdn.glitch.me/d77ae1d5-67ec-4b34-8bd3-2dedbeb4d130%2Flarge-home-389271.jpg?v=1634918378220');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 7.5vh 7.5vh 7.5vh 7.5vh;
}
.teaser_text_wrapper{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 222, 222);
}
.teaser_text{
  display: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

/* =================================================================
To Do List:
.input_search[{}
    Change the text color of the input and the size
==================================================================*/
